.markdown-all {
  font-family: PingFang SC;
  background-color: #fff;
}

.markdown-all .md-body,
.markdown-all code, 
.markdown-all tt,
.markdown-all .md-body pre > code {
  font-family: PingFang SC;
}

b, dt, strong, th{
  font-weight: 600;
}

.markdown-all .md-body img {
  width: auto;
  max-height: 900px;

  prince-image-magic: recompress-jpeg(50%) convert-to-jpeg(50%)
    snap-to-integer-coords;
}

.markdown-all .first-page {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

@page:first {
  margin-top: 10cm;
}

@page {
  size: A4 portrait;
  margin: 2cm;
}

@page {
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: 0.25pt solid #666;
    content: 'KubeSphere';
    font-size: 9pt;
    color: #333;
    font-family: PingFang SC;
  }
  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: 0.25pt solid #666;
    content: counter(page) ' /  ' counter(pages);
    font-size: 9pt;
    font-family: PingFang SC;
  }
  @bottom-center {
    margin: 10pt 0 30pt 0;
    border-top: 0.25pt solid #666;
    font-family: PingFang SC;
  }
}

h1 {
  prince-bookmark-level: none;
}
h2 {
  prince-bookmark-level: none;
}
h3 {
  prince-bookmark-level: none;
}
h4 {
  prince-bookmark-level: none;
}
h5 {
  prince-bookmark-level: none;
}

.markdown-all .h1 {
  prince-bookmark-level: 1;
  width: 0;
  height: 0;
  overflow: hidden;
}

.markdown-all .h2 {
  prince-bookmark-level: 2;
  width: 0;
  height: 0;
  overflow: hidden;
}

.markdown-all .md-body h1 {
  font-size: 1.6rem;
  break-before: page;
  prince-bookmark-level: 3;
}

.markdown-all .md-body h2 {
  font-size: 1.4rem;
  prince-bookmark-level: 4;
}

.markdown-all .md-body h3 {
  font-size: 1.2rem;
}

.markdown-all .md-body h4 {
  font-size: 1.1rem;
}

.markdown-all .md-body h5 {
  font-size: 1rem;
}

.markdown-all .md-body h6 {
  font-size: 0.875rem;
}

.markdown-all pre[class*='language-'] {
  font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
    'Courier New', Courier, monospace, 'PingFang SC';
}

.md-tabs {
  display: block;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.md-tabs label {
  order: 1;
  display: block;
  padding: .5rem 0;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #fff;
  font-weight: bold;
  transition: background ease 0.2s;
  border-radius: 4px 4px 0 0;
}

.md-tabs .md-tab {
  order: 99;
  flex-grow: 1;
  display: inline;
  padding: 0;
  background: #fff;
  border-radius: 0 4px 4px 4px;
}

.md-tabs input[type='radio'] {
  display: none;
}
