.md-body img {
  width: auto;
  max-height: 960px;

  prince-image-magic: recompress-jpeg(50%) convert-to-jpeg(50%)
    snap-to-integer-coords;
}

.first-page {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

@page:first {
  margin-top: 10cm;
}

h1 {
  prince-bookmark-level: none;
}
h2 {
  prince-bookmark-level: none;
}
h3 {
  prince-bookmark-level: none;
}
h4 {
  prince-bookmark-level: none;
}
h5 {
  prince-bookmark-level: none;
}

.h1 {
  prince-bookmark-level: 1;
  width: 0;
  height: 0;
  overflow: hidden;
}

.h2 {
  prince-bookmark-level: 2;
  width: 0;
  height: 0;
  overflow: hidden;
}

.md-body h1 {
  font-size: 1.6rem;
  break-before: page;
  prince-bookmark-level: 3;
}

.md-body h2 {
  font-size: 1.4rem;
  prince-bookmark-level: 4;
}

.md-body h3 {
  font-size: 1.2rem;
}

.md-body h4 {
  font-size: 1.1rem;
}

.md-body h5 {
  font-size: 1rem;
}

.md-body h6 {
  font-size: 0.875rem;
}
